/* File: http://weblab.cs.uml.edu/~cburbine/A3_styles.html
  Christopher Burbine, UMass Lowell Compter Science Student, christopher_burbine@student.uml.edu
  91.461 GUI Programming I, Assignment 3: Styling Your First Web Page With CSS
  Created on September 21, 2013 at 2:35 PM

  This file is my external CSS styles sheet.*/
      
/* Style sheet for index page. All parameters where found on (http://www.w3schools.com/cssref/default.asp) 
   and used throughout this CSS file.*/

html{
    background: url(A_images/FC3_BD_BG.png); /*Background image credit goes to Cornerscout at (http://cornerscout.deviantart.com/).*/
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
    background-size:100% 100%;
}
/*The .main and body parameters taken from (http://bluerobot.com/web/css/center1.html) and modified to 
  fit my page. */
body {
    margin:50px 0px; 
    padding:0px; /* Sets body margin and padding to be consistent between browsers. */
    text-align:center; /* Hack for IE5/Win. Left in from original code, 
			  seems to have no visual effect on or off. */
}

#A5Bdy {
    color: rgb(255,255,255);
}
#mydiv{
    width: 600px;
}
#tab{
    /*background-color: rgb(255,255,255);
    color: rgb(0,0,0);*/
    /*border-style:solid;*/
    max-width: 600px;
}
/*Sets up box that the different pages information sits in. Unsure if this will remain completely 
  consistent between devices. I know it does for my laptop. */
.main {
    width:600px;
    margin:50px auto; /* Right and left margin widths set to "auto" */
    text-align:left; /* Counteract to IE5/Win Hack */
    padding-top:0px;
    padding-bottom:50px;
    padding-right:50px;
    padding-left:50px;
    border-style:solid;
    border-color:rgb(69,126,255);
    border-width:6px;
    border-radius:25px;
    background-color: rgba(0,0,0,.80);
}

/*Next few parameters set up some coloration and sizing for h1, h2 and p.*/
.main h1 {
    color: rgb(255,255,255);
    font-size: 150%;
    font-variant:small-caps;
    font-family: Arial Black;
    /*text-shadow: 4px 3px 6px rgba(0,0,0,.5);*/
}

.main h1 strong { /*Ideas for styling learned and taken from the tutorial "Text Formatting in Action" from chapter 6 in CSS3: The Missing Manual (p. 178-191). */
    font-size: 250%;
    color: rgb(69,126,255);
    font-family: Arial Black, serif;
}

.main h2 {
    color: rgb(69,126,255);
    margin-top:2em;
    font-size: 200%;
    border-bottom: 2px solid rgb(69,126,255);
    font-family: Arial Black, serif;
    font-variant:small-caps;

}

.main p {
    color: rgb(255,255,255);
}
/* Menu set up taken from (http://www.w3schools.com/css/tryit.asp?filename=trycss_float5) and then modified. */
.main_list ul {
    list-style-type:none;
    float:left;
    width:100%;
    padding:0;
    margin:0;
}

.main_list a{
    font-family: Arial, serif;
    float:left;
    text-decoration:none;
    color:white;
    width:21.8%;
    background-color: rgb(69,126,255);
    padding:0.2em 0.6em;
    font-variant:small-caps;
    
}
/*Makes the links change color when hovered over.*/
.main_list a:hover {background-color:rgb(3,27,255);}
li {display:inline;}

/*End of menu set up.*/

/*General image border parameters.*/
.main img{
    border-style:solid;
    border-color:rgb(69,126,255);
}

/*The next few parameters set up the table seen on (http://weblab.cs.uml.edu/~cburbine/A3_index_Assign.html). 
Idea for the table came from Jacob Nappi's index page at (http://weblab.cs.uml.edu/~jnappi/index.html). General 
code comes from (http://www.w3schools.com/html/html_tables.asp) on how to make a table and 
(http://www.w3schools.com/css/css_table.asp) on how to style a table.*/

.main_table{
    color:white;
}
.main_table table,td,th{
    border:1px solid rgb(69,126,255);
}
.main_table th{
    height:50px;
    width:20%;
    text-align:center;
}
.main_table td{
    text-align:center;
    font-weight: bold;
}
.main_table th{
    font-size: 120%;
}
/*.main_table a{
   color:rgb(69,126,255);
}*/
.main_table a {
    color:rgb(69,126,255);
    text-decoration: none;
}

/*Makes it so that the underline comes back when anchor tags are hovered over.*/
.main_table a:hover {
    text-decoration:underline;
}


p {
    font-weight:bold;
    font-size:110%;
}

/*End of table parameters. */
